* {
box-sizing: border-box;
}

body{
    background-image: url("images/crystalCave.jpg")
    /*background-color: rgba(219, 230, 213, 0.884);*/
}

#headerName {
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    color: rgb(238, 250, 252);
    padding: 40px;
}

#r{
    clear: both;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: rgb(225, 159, 159);
    text-shadow: 2px 1px 1px rgb(5, 5, 57);
    
}

#rules {
    text-align: center;
    font-size: 25px;
    text-decoration-style: wavy;
    color: wheat;
   
    text-shadow: 2px 1px 2px rgb(5, 5, 57);
   
}

#wrapper {
    text-align: center;
    padding: 30px;
    font-size: 30px;
  
}

#start {
    /*border: 1px solid black;*/
    background: rgb(220, 236, 236);
    padding: 15px;
    box-shadow: 1px 1px 2px green;
    

}
#start:hover {
    background-color: antiquewhite;
}

#fixNum {
    clear: both;
    /*align-content: flex-end;*/
    text-align: center;
    font-size: 80px;
    color: rgb(255, 153, 0);
    border: 4px solid black;
    box-shadow: 1px 1px 2px rgb(218, 227, 218);
    width: 318px;
    height: 150px;
   padding: 30px;
    
}
#hiddenNum {
    text-align: center;
    font-size: 80px;
    color:rgb(244, 244, 250);
    border: 4px solid black;
     box-shadow: 1px 1px 2px rgb(218, 227, 218);
    width: 318px;
    padding: 30px;
    height: 150px;     

}

button {
    padding-top: 10px;
    margin-top: 30px;
}

button:hover {
    background-color:rgb(112, 216, 199);
}

#lose {
    font-size: 50px;
    text-align: center;
    padding: 30px;
    color: red;
    font-weight: bold;

}

#win {
    font-size: 50px;
    text-align: center;
    padding: 30px;
    color: yellowgreen;
    font-weight: bold;

}

#resetBtn {
    width: 100px;
    height: 50px;
    background-color: rgb(211, 147, 29);
    box-shadow: 1px 1px 1px grey;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

#resetBtn:hover{
    background-color: whitesmoke;
}