* {
box-sizing: border-box;
}

body{
    background-color: rgba(219, 230, 213, 0.884);


}

#headerName {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgba(33, 151, 172, 0.568);
    padding: 20px;
}


#r{
    clear: both;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: black;
    
}

#rules {
    text-align: center;
    font-size: 20px;
    text-decoration-style: wavy;
   
}

#wrapper {
    text-align: center;
    padding: 30px;
    font-size: 30px;
  
}

#start {
    border: 3px solid black;
    background: rgb(220, 236, 236);
    padding: 15px;

}

p#fixNum {
    clear: both;
    text-align: center;
    font-size: 50px;
    color: rgb(255, 153, 0);
    border: 1px solid black;
    width: 100px;
    height: 80px;
    padding: 15px;
    margin-left: 165px;

    
}
p#hiddenNum {
    clear: both;
    text-align: center;
    font-size: 50px;
    border: 1px solid black;
    width: 100px;
    padding: 15px;
    height: 80px;   

}

#class {
    align-items: center;
    
}

button {
    padding-top: 10px;
}

button:hover {
    background-color:rgb(112, 216, 199);
}

#lose {
    font-size: 50px;
    text-align: center;
    padding: 30px;
    color: red;

}

#win {
    font-size: 50px;
    text-align: center;
    padding: 30px;
    color: yellowgreen;


}